.zscustom-section-georgeandgabrielle-banner .zscustom-section-banner-heading h2.zpheading { font-size: 44px; }

@media (max-width: 991px) { .zscustom-section-georgeandgabrielle-together .zscustom-responsive-hide { display: none; } }

.zscustom-section-georgeandgabrielle-savethedate .zscustom-box-shadow { box-shadow: 0px 3px 6px 0px #f1f1f1; }
